/* 
    Created on : 27-sep-2016, 0:54:13
    Author     : Manu
*/

body { 
    /* El fondo sera una imagen */
    background-image: url(../Images/inicio.jpg);
    
    /* El color del texto sera blanco por defecto */
    color: white;

    background-position: center center;

    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;

    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
       la altura del contenido supere la altura de la imagen. */
    background-attachment: fixed;

    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
       del navegador */
    background-size: cover;
}