body {
	/* La imagen de fondo sera una imagen */
	background-image: url(../Images/inicioE.jpg);
	
	/* El color del texto sera blanco */
	color: white;
	
	/* La posicion sera centrada */
	background-position: center center;
	
	/* La imagen de fondo no se repite */
	background-repeat: no-repeat;
	
	/* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
       la altura del contenido supere la altura de la imagen. */
	background-attachment: fixed;
	
	/* La imagen de fondo se reescala cuando se cambia el ancho de ventana
       del navegador */
	background-size: cover;
	
	/* Fijamos un color de fondo para que se muestre mientras se está
       cargando la imagen de fondo o si hay problemas para cargarla  */
	background-color: #F4F4F4;
}

a {
	color: white;
	cursor: pointer;
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 100px;
	color: white;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

td {
	font-size: 20px;
	color: white;
}